<li class='update'>
	<div class='post'><%= update.user.handle %> rolled:</div>
	<div class='content'><%= render update.content %></div>	
	<div class='time'><%= time_ago_in_words(update.created_at)%> ago</div>
</li>